body {
    background-color: rgb(36, 88, 172);
    color: white;
}
.container-xxl {
    margin-top: 50px;
    border: 2px dashed black;

}

span {
    color: greenyellow;
}

h3 {
    color: red;
}


#sliderValue, .operation {
    margin-left: 10px;
}

#user-input, #slider {
    margin-bottom: 15px;
}
